<style>
    table{
        margin-left: 70%;
    }
</style>
<table>
    <tr>
        <td>
            <form action="{%url 'registration' %}" method="">
                <input type="submit" value="insert">
            </form>
            <form action="{%url 'show' %}" method="">
                <input type="submit" value="show/view">
            </form>
             <form action="{%url 'update' %}" method="">
                <input type="submit" value="update">
            </form>
            <form action="{%url 'deleteView' %}" method="">
                <input type="submit" value="delete">
            </form>
            <form action="{%url 'show' %}" method="">
                <input type="submit" value="show">
            </form>
        </td>
    </tr>
</table>